@page "/"
@using Blazor3D.Enums
@using Blazor3D.Geometires
@using Blazor3D.Lights
@using Blazor3D.Materials
@using Blazor3D.Maths
@using Blazor3D.Objects
@using Blazor3D.Scenes
@using Blazor3D.Viewers

<div class="row justify-content-center">
    <div class="col-9 v3d">
        <Viewer @ref="View3D1" ViewerSettings=@settings Scene=scene UseDefaultScene=@true />
    </div>
    <div>
        <button @onclick="OnLoadObjButtonClick">Load OBJ</button>
    </div>

</div>

@code {
    private Viewer View3D1 = null!;
    private Guid objGuid;
    private ViewerSettings settings = new ViewerSettings()
        {
            ContainerId = "rsid",
        };

    private Scene scene = new Scene();

    protected override Task OnInitializedAsync()
    {
        scene.Add(new AmbientLight());
        scene.Add(new PointLight()
            {
                Decay = 2,
                Position = new Vector3(1, 3, 0)
            });
        scene.Add(new Mesh());
        scene.Add(new Mesh
            {
                Geometry = new BoxGeometry
                {
                    Width = 2,
                    Height = 0.5f
                },
                Position = new Vector3(-1, 1, -1),
                Rotation = new Euler
                {
                    X = (float)(Math.PI / 4)
                }
            });

        scene.Add(new Mesh
            {
                Geometry = new CircleGeometry(),
                Position = new Vector3(1, 1, -1),
                Scale = new Vector3(0.5f, 1f, 1f)
            });

        scene.Add(new Mesh
            {
                Geometry = new CapsuleGeometry
                {
                    Radius = 1,
                    Length = 2
                },
                Position = new Vector3(-3, 0, -3),
                Material = new MeshStandardMaterial()
                {
                    Color = "blue"
                }
            });

        scene.Add(new Mesh
            {
                Geometry = new ConeGeometry
                {
                    Radius = 1,
                    Height = 2,
                    RadialSegments = 16,

                },
                Position = new Vector3(3, 0, -3),
                Material = new MeshStandardMaterial()
                {
                    Color = "green"
                }
            });

        scene.Add(new Mesh
            {
                Geometry = new CylinderGeometry
                {
                    RadiusTop = 0.5f,
                    Height = 2,
                    RadialSegments = 16,
                },
                Position = new Vector3(0, 0, -3),
                Material = new MeshStandardMaterial()
                {
                    Color = "red"
                }
            });
        scene.Add(new Mesh
            {
                Geometry = new DodecahedronGeometry
                {
                    Radius = 1.5f,
                    //Detail = 1,
                },
                Position = new Vector3(-5, 0, -5),
                Material = new MeshStandardMaterial()
                {
                    Color = "darkviolet"
                }
            });
        scene.Add(new Mesh
            {
                Geometry = new IcosahedronGeometry
                {
                    Radius = 1.5f,
                    //Detail = 1,
                },
                Position = new Vector3(5, 0, -5),
                Material = new MeshStandardMaterial()
                {
                    Color = "violet"
                }
            });
        scene.Add(new Mesh
            {
                Geometry = new OctahedronGeometry
                {
                    Radius = 1.5f,
                    //Detail = 10,
                },
                Position = new Vector3(0, 0, -5),
                Material = new MeshStandardMaterial()
                {
                    Color = "pink"
                }
            });

        scene.Add(new Mesh
            {
                Geometry = new PlaneGeometry
                {
                    Width = 0.5f,
                    Height = 2
                },
                Position = new Vector3(-3, 1, -1),
            });

        return base.OnInitializedAsync();
    }

    private async Task OnLoadObjButtonClick()
    {
        await View3D1.Import3DModelAsync(
             Import3DFormats.Fbx,
             "https://threejs.org/examples/models/fbx/Samba%20Dancing.fbx",
             null,
             500);
        await View3D1.SetCameraPositionAsync(new Vector3(0, 100, 250));

        await View3D1.Import3DModelAsync(
            Import3DFormats.Gltf,
            "https://threejs.org/examples/models/gltf/DamagedHelmet/glTF/DamagedHelmet.gltf",
            null,
            500);
        await View3D1.SetCameraPositionAsync(new Vector3(0, 1, 5));
    }

}

