@page "/"
@using Blazor3D.Geometires
@using Blazor3D.Objects
@using Blazor3D.Scenes

<div class="row">
    <div class="col-sm-12">
        <Viewer @ref="View3D1" ViewerSettings=@settings Scene=scene/>
    </div>
</div>




@code {
    private Viewer View3D1 = null!;
    private ViewerSettings settings = new ViewerSettings()
        {
            ContainerId = "rsid",
        };

    private Scene scene = new Scene();

    protected override Task OnInitializedAsync()
    {
        scene.Add(new Mesh
        {
            Geometry = new BoxGeometry
            {
                Width = 2
            }
        });
        return base.OnInitializedAsync();
    }

}

