<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/reference/reference.css" rel="stylesheet">
    <title>{!{Title}!}</title>
</head>
<body>
    <h1><a href="/reference/Index.html">Blazor3D Reference Guide</a></h1>
    <!-- todo: breadcrubs here -->
    <div class="row">
        <div class="colNav">
            <div class="navContent">
                {!{Nav}!}
            </div>
        
        </div>
        <div class="colContent">
            <h2>{!{Header}!}</h2>
            <div>{!{NameSpace}!}</div>
            <div>{!{Content}!}</div>
        </div>
    </div>
</body>
</html>