html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, .nav-link, .btn-link {
    color: #80F;
    font-weight:400;
}

    a:hover, .nav-link:hover, .btn-link:hover {
        color: #50A;
    }
b, strong {
    font-weight: 500;
}

.fontlight {
    font-weight: 400;
}

.referenceNav {
    line-height: 1rem;
}

.refNavLink {
    padding: 0.3rem 1rem;
}

.topOffset {
    padding-top: 2rem;
}

.blazor3d {
    width:36px;
    margin:5px;

}

.navbar-light .navbar-brand {
    color: #80F;
}

.navbar-light .navbar-brand:hover {
    color: #50A;
}