html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, .nav-link, .btn-link {
    color: #80F;
    font-weight:400;
}

    a:hover, .nav-link:hover, .btn-link:hover {
        color: #50A;
    }
b, strong {
    font-weight: 500;
}

.fontlight {
    font-weight: 400;
}

.referenceNav {
    line-height: 1rem;
}

.refNavLink {
    padding: 0.3rem 1rem;
}

.topOffset {
    padding-top: 2rem;
}

.blazor3d {
    width:36px;
    margin:5px;

}

.navbar-light .navbar-brand {
    color: #80F;
}

.navbar-light .navbar-brand:hover {
    color: #50A;
}

video {
    object-fit: cover;
    position: absolute;
    top: -20px;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

.video-wrapper {
    padding: 0px;
    margin:0px;
    border: none;
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: visible;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}