<h1 class="display-6 btmOffset">Getting started with Blazor3D. WebAssembly project.</h1>
<h2 class="fontlight btmOffset">1 Create Blazor WebAssembly project</h2>
<div class="row">
    <div class="col-12">
        <p>Use <a href="https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new-sdk-templates#blazorwasm" target="_blank">.NET command-line inteface (CLI)</a> to create Blazor WebAssembly project</p>
        <div class="btmOffset"><code>dotnet new blazorwasm -o Blazor3D.GettingStarted</code></div>
        <p>Open project using IDE of your choice. In this tutorial the Visual Studio Code used.</p>
    </div>
</div>