@{
    ViewData["Title"] = "Home Page";
}
<div>
    <video class="videoheader" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</div>

<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
<div>blablbalbalablablalblba</div>
