@{
    ViewData["Title"] = "Home Page";
}

<form id="saveSitemap" asp-action="Generate" method="post" enctype="multipart/form-data">
	<div class="row spaceBottom">
		<div class="col-md-6">
			<div class="form-group">
				<label>Generate sitemap xml: </label>
				<button type="submit" class="btn btn-primary">Generate</button>
			</div>
		</div>
	</div>
</form>


